<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to the Admin Dashboard, {{ current_user.name }}!</h1>
    <div>
        <a href="{{ url_for('main.add_quiz') }}">Create Quiz</a>
        <a href="{{ url_for('main.view_results') }}">View Results</a>
    </div>
    <div>
        <!-- Example within admin_dashboard.html or any admin-specific templates -->
<a href="{{ url_for('main.admin_logout') }}">Logout</a>

    </div>
</body>
</html>
