<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>
<body>
    <h1>{{ quiz.title }}</h1>    <div id="timer"></div>

    <form action="{{ url_for('main.submit_quiz', quiz_link=quiz.link) }}" id="quizForm" method="post">
        <input type="hidden" name="attempt_id" value="{{ attempt_id }}">

        {% for question in questions %}
            <div>
                <p>{{ question.text }}</p>
                {% for option in question.options %}
                    <input type="radio" name="question_{{ question.id }}" value="{{ option.text }}">
                    <label>{{ option.text }}</label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Submit Quiz">
    </form>
    <script>
        // Assume end_time is passed in ISO format: YYYY-MM-DDTHH:MM:SS
        const endTime = new Date("{{ end_time.isoformat() }}").getTime();

        const timer = setInterval(function() {
            let now = new Date().getTime();
            let distance = endTime - now;

            // Time calculations for minutes and seconds
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result
            document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

            // If the countdown is over, stop the timer
            if (distance <= 0) {
                clearInterval(timer);
                document.getElementById('quizForm').submit();
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>

</body>
</html>
